body{
  margin: 0;
  padding: 0;
}

.maindiv{
  height: 90vh;
  padding-left: 5%;
  padding-right: 5% ;
  background-color: #d8e7ff;
}

.header{
  padding-top: 30px;
  text-align: center;
  font-size: 50px;
}

.container{
  height: 100%;
  width: 100%;
}

.inner-container{
  height: 100%;
  width: 100%;
  display: flex;
}

.linechart{
  width: 66%;
  height: auto;
}

.piechart{
  width: 34%;
  height: auto;
}

.country-selector{
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 30px;
}

.country-selector select{
  width: 500px;
  height: auto;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  border-radius: 0.8rem;
  padding: 5px;
}

.totals{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.totals p{
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 4rem;
  padding: 20px;
  border-radius: 0.8rem;
}

#cases{
  background-color: #beb3e5;
}

#deaths{
  background-color: #f5a5a5;
}

#recoveries{
  background-color: #85c685;
}